{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Song{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}

    <!-- Music-main-section -->
    <div class="px-[0px] md:px-0 w-[100%]">
        <div class="w-[100%] px-[0.5rem] md:w-[80%] m-auto">
            <button onclick="goBack()" class="mobile-back-btn rounded-full ml-[0.3rem] pb-[0.5rem] text-[#3D5361]">
                <i class="fa-solid fa-circle-arrow-left mr-[0.5rem]"></i>
                Back
            </button>
            <div class="flex justify-between mobile-product-text">
                <h2 class="text-[18px] font-bold">All Songs</h2>
            </div>

            <div class="music-grid">
                {% for song in songs %}
                    <a href="{% url "artist-detail" song.artist.id %}" class="rounded-[10px] hover:bg-slate-200 shadow-md no-underline text-[#3b5361]">
                        <div class="relative rounded-[10px] hover:bg-slate-200">
                            <div class="absolute right-[10px] top-[10px] bg-yellow-300 flex justify-center items-center w-[40px] h-[40px] rounded-full ">
                                <i class="fa-solid fa-play"></i>
                            </div>
                            <div class="">
                                <div class="h-[200px] rounded-[10px]">
                                    {% if song.cover_image %}
                                        <img src="{{ song.cover_image.url }}" class="w-[100%] h-[100%] rounded-t-[10px] object-center object-cover" alt="...">
                                    {% endif %}
                                </div>
                                <div class="px-[0.5rem] py-[0.5rem]">
                                    <h3 class="text-slate-700 text-[18px]">{{ song.title }}</h3>
                                    <p class="text-rose-500 font-medium text-[14px]">{{ song.artist }}</p>
                                </div>
                            </div>
                        </div>
                    </a>    
                {% endfor %}                 
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}
{% endblock %}

