{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Home{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <style>
        .swiper {
            width: 100%;
            padding: 0.5rem 0.5rem;
        }
        .swiper-slide {
           width:150px;
           height:auto;
        }
        .swiper-button-next,
        .swiper-button-prev {
            color:rgb(255, 255, 255);
            background: rgba(0, 0, 0, 0.34);
            padding: 15px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 1.2rem;
        }
    </style>
    
    <div class="w-full flex flex-col justify-between h-full md:w-[80%] m-auto px-[0.5rem] md:px-[0px] mobile-padding">
       <div class=" overflow-hidden">
            <div class="flex justify-between">
                <h2 class="text-[18px] text-[#3D5361] font-semibold">Trending News</h2>
                <p class="text-[#fff]">
                    <a class="no-underline text-[#ec2929a9] font-semibold text-[14px]  text-nowrap" href="{% url "news-page" %}">Show all
                        <i class="fa-solid fa-arrow-up-right-from-square ml-[0.5rem]"></i>
                    </a>
                </p>
            </div>
            <div class="swiper mySwiper bg-white ">
                <div class="swiper-wrapper">
                    {% for article in articles %}
                        <div class="swiper-slide shadow rounded-[10px] w-[100%]" style="min-width: 350px;">
                            <div class="p-[1rem]">
                                <h5 class="text-[18px] font-medium"> {{ article.title|truncatewords:4 }} </h5> 
                                <div class="flex justify-between items-center mb-[1rem]">
                                    <p class="text-nowrap text-[13px] text-[#3d5361c4] font-semibold">
                                        <i class="fa-solid fa-clock"></i>
                                        <small>{{ article.dated_on|date:"M. d, Y" }}</small>
                                    </p>
                                    <p class="text-[13px] text-nowrap text-[#3d5361c4] font-semibold">
                                        <i class="fa-solid fa-comments px-[2px]"></i>
                                        {{article.article_comment_count}}
                                            Comments
                                    </p>
                                    <p class="flex text-nowrap items-center gap-[5px] text-[13px] text-[#444] font-semibold">
                                        <a href="{% url "profile" %}" 
                                        class="text-[#3d5361c4]">
                                            <i class="fa-solid fa-user"></i> 
                                            {{ article.author }} 
                                        </a>
                                    </p> 
                                </div>
                                <div class=" flex gap-3 w-full">
                                    {% if article.image %}
                                        <img src="{{article.image.url}}" class="w-[100%] min-w-[100px] h-[80px] rounded shadow object-center object-cover" alt="article img">
                                    {% endif %}
                                    <p class="text-[#3D5361] overflow-hidden">
                                        {{article.article_content|truncatewords:6}}
                                    </p>
                                </div>
                            </div>
                            <div class="mt-[1rem] border-t border-slate-200 p-[1rem] flex justify-between items-center">
                                <button class="rounded-full py-[6px] px-[18px] hover:bg-slate-200 transition duration-200 text-slate-600 ">
                                    <a href="{% url "blog-post-detail" article.id %}" class="">
                                        <i class="fa-solid fa-eye mr-[0.2rem]"></i>
                                        Detail
                                    </a>
                                </button>                               
                                <div class="">
                                    {% if article.author == request.user %}
                                        <button class="w-[50px] h-[50px] rounded-[10px] shadow-md hover:bg-slate-200 transition duration-200">
                                            <a href="{% url "user-dashboard-edit" article.id %}" class="flex justify-center items-center text-slate-600 rounded-full p-[0.5rem]">
                                                <i class="fa-regular fa-pen-to-square "></i>
                                            </a>
                                        </button>
                                        <button class="w-[50px] h-[50px] rounded-[10px] shadow-md bg-rose-200 transition duration-300">
                                            <a href="{% url "user-post-delete" article.id %}" class="flex justify-center items-center text-rose-600  rounded-full p-[0.3rem]">
                                                <i class="fa-solid fa-trash-can "></i>                                         
                                            </a>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                </div>
               <!-- Add navigation arrows -->
               <div class="swiper-button-next"></div>
               <div class="swiper-button-prev"></div>
            </div>
       </div>
        <!--Trending-songs-->
        <div class="mt-[2rem]">
            <div class="flex justify-between">
                <h2 class="text-[18px] text-[#3D5361] font-semibold popular_artist_h2 ">Trending songs</h2>
                <p class="text-[#fff]">
                    <a class="no-underline text-[#ec2929a9] font-semibold text-[14px]  text-nowrap" href="{% url "all-songs" %}">
                        Show all
                        <i class="fa-solid fa-arrow-up-right-from-square ml-[0.5rem]"></i>
                    </a>
                </p>
            </div>
            <div class="swiper mySwiper bg-white">
                <div class="swiper-wrapper">
                    {% for song in songs %}
                    <div class=" text-[#3b5361] swiper-slide w-[100%] shadow rounded-[10px]" style="min-width: 250px;">
                        <div class="relative rounded-[10px] cursor-pointer hover:bg-slate-200 p-[3px] ">
                            <div class="absolute right-[10px] top-[10px] bg-yellow-300 flex justify-center items-center w-[40px] h-[40px] rounded-full ">
                                <a href="{% url "artist-detail" song.artist.id %}" class="no-underline"><i class="fa-solid fa-play text-black"></i></a>
                            </div>
                            <div class="">
                                <div class="h-[150px] rounded-[10px] w-[150px]">
                                    {% if song.cover_image %}
                                        <img src="{{ song.cover_image.url }}" class="rounded-[10px] w-[150px] h-[150px] object-cover object-center" alt="song cover-art">
                                    {% endif %}
                                </div>
                                <div class="all_artist_content">
                                    <h3 class="">{{ song.title }}</h3>
                                    <p class="">{{ song.artist }}</p>
                                </div>
                            </div>
                        </div>
                    </div>    
                    {% endfor %}                 
                </div>
                <!-- Add navigation arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <!--Trending-Items-->
        <div class="mt-[2rem] space_buttom">
            <div class="flex justify-between">
                <h2 class="text-[18px] text-[#3D5361] font-semibold popular_artist_h2 ">Trending ads</h2>
                <p class="text-[#fff]">
                    <a class="no-underline text-[#ec2929a9] font-semibold text-[14px]  text-nowrap" href="{% url "all-items" %}">
                        Show all
                        <i class="fa-solid fa-arrow-up-right-from-square ml-[0.5rem]"></i>
                    </a>
                </p>
            </div>
            <div class="swiper mySwiper bg-white">
                <div class="swiper-wrapper">
                    {% for item in items %}
                        <a href="{% url "all-items" %}" class="no-underline swiper-slide shadow rounded-[10px] w-[100%]" style="min-width: 250px;">
                            <div class="rounded-[10px]">
                                {% if item.image %}
                                    <img src="{{ item.image.url }}" class="w-[100%] h-[100%] object-center object-cover rounded-[10px]" alt="item image">
                                {% endif %}
                            </div>
                            <div class=" overflow-hidden p-[0.5rem]">
                                <h2 class="text-teal-500 text-[18px] font-bold ">GHS{{ item.price }}</h2>
                                <h3 class="text-slate-600 text-[15px] font-semibold">{{ item.title }}</h3>
                                <p class="text-[#3b5361] text-[14px] font-regular">{{ item.content|truncatewords:8 }}</p>
                                <p class="text-[#3b5361] text-[13px] font-regular flex items-center gap-[0.5rem]">
                                    <i class="fa fa-solid fa-location-dot"></i>
                                    {{ item.location }}
                                </p>
                            </div>
                            <div class="flex justify-between items-center gap-[0.5rem] border-t border-slate-200 p-[0.5rem]">
                                <div class="">
                                    <small class="bg-slate-200 p-[0.3rem] text-nowrap text-[#3b5361] rounded-[3px] text-[10px]">{{item.item_status}}</small>
                                    {% if item.item_type %}
                                        <small class="bg-slate-200 p-[0.3rem] text-nowrap text-[#3b5361] rounded-[3px] text-[10px]">{{item.item_type}}</small>
                                    {% else %}
                                        <small class=""></small>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <!-- Add navigation arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

  {% include "partials/footer.html" %}
    <!-- Add Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.mySwiper', {
            slidesPerView: 'auto',
            spaceBetween: 8,
            centeredSlides: false,
            grabCursor: true,
            freeMode: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            breakpoints: {
                640: {
                    spaceBetween: 8,
                },
                1024: {
                    spaceBetween: 8,
                },
            },
        });
    </script>
{% endblock content %}

