{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Password Reset Done{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    <div class="flex justify-center items-center w-full h-[100%]">
        <din class="w-[600px] p-[30px] rounded shadow bg-slate-50 mt-[80px]">
            <div class="">
                <h1 class="text-[28px] font-sans font-semibold mt-[20px] text-center"> Password Reset Done</h1>
                <p class=" mt-[30px] text-center alert alert-info">A mail with instructions to reset password has been 
                    sent, Please check your email to verify.</p>
            </div>
        </din>
       
        
    </div>

{% endblock  %}
