{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Password reset Confirm{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    <div class="flex justify-center items-center w-full h-[100%] ">
        <form action="" method="post" class="w-[600px] p-[30px] rounded shadow bg-slate-50 mt-[80px]">
            <div class="">
                <h1 class="text-[28px] font-sans font-semibold mt-[20px] text-center"> Password Reset Confirm</h1>
            </div>
            {% csrf_token %}
            {{ form|crispy }}
           
            <button type="submit" class="text-[#fff] bg-blue-400 px-[30px] py-[10px] w-full mt-[30px]">Reset Password Confirm</button>
        </form>
       
        
    </div>

{% endblock  %}
