{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Password Reset Complete{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    <div class="flex justify-center items-center w-full h-[100%] ">
        <div class="w-[600px] p-[30px] rounded shadow bg-slate-50 mt-[80px]">
            <div class="">
                <h1 class="text-[28px] font-sans font-semibold mt-[20px] text-center">Password Reset Complete</h1>
                <p class="text-center alert alert-info">Your password reset has been succcessfull,
                     Please login with your credentials</p>
            </div>
            <p class="text-[12px] py-[20px] font-medium font-[poppins] text-center"> <a href="{% url "login" %}" class="text-[#2888E1] hover:text-[#595454]">Login</a></p>
        </div>
       
        
    </div>

{% endblock  %}
