{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Profile{% endblock  %}
{% block content %}
    {% include "partials/nav.html" %}
    <div class="flex justify-center items-center px-[0.5rem] md:px-0  w-[100%] md:w-[80%] m-auto mobile-profile mobile-profile-modal">
        <div class="w-[100%] md:w-[65%] m-auto p-[30px] rounded shadow border-t-[4px] border-slate-500  bg-slate-50">
          <h1 class="font-bold text-[18px] md:text-[25px] text-[#3D5361]">Member Information</h1>
          <hr>
            <div class="flex justify-between items-center mb-[2rem]">
                <div class="w-[150px] h-[150px] mobile-img-profile">
                  {% if profile.image %}
                    <img src="{{ profile.image.url }}" alt="profile.img" class="w-[150px] h-[150px] rounded-[50%] object-cover object-center mobile-img-image">
                    {% else %}
                    <img src="{% static "images/default.png" %} " alt="profile.img" class="w-[150px] h-[150px] rounded-[50%] object-cover object-center mobile-img-image">
                  {% endif %}
                </div>
                <!-- Button trigger modal -->
                 {% if profile.user == user %}
                  <button 
                    type="button" 
                    data-bs-toggle="modal" 
                    data-bs-target="#staticBackdrop" 
                    class="my-[30px] text-[#3D5361] transition-all duration-200 hover:text-teal-600 py-[4px] px-[8px] text-[15px] ">
                    Edit Profile
                    <i class="fa-regular fa-pen-to-square fa-xl ml-[10px]"></i>
                  </button>
                {% endif %}
            </div>
           <div class="">
              <div class="flex items-center border-t border-[#e7e0e07e] py-[10px]">
                  <h3 class="text-[18px] basis-2/6">Full Name</h3>
                  <p class="mt-[10px] basis-3/5">{{ profile.full_name }} </p>
              </div>
              <div class="flex items-center border-t border-[#e7e0e07e] py-[10px]">
                <h3 class="text-[18px] basis-2/6">Username</h3>
                <p class="mt-[10px] basis-3/5">{{ profile.user.username }} </p>
              </div>
              <div class="flex items-center border-t border-[#e7e0e07e] py-[10px]">
                <h3 class="text-[18px] basis-2/6">Email address</h3>
                <p class="mt-[10px] basis-3/5">{{ profile.user.email }} </p>
              </div>
              <div class="flex  border-t border-[#e7e0e07e] py-[10px]">
                <h3 class="text-[18px] basis-2/6">Talks About</h3>
                <p class=" basis-3/5">{{ profile.talks_about }} </p>
              </div>
              <div class="flex  border-t border-[#e7e0e07e] py-[10px]">
                <h3 class="text-[18px] basis-2/6">About me</h3>
                <p class=" basis-3/5">{{ profile.about }} </p>
              </div>
           </div>
        </div>
    </div>

    

  <!-- Modal -->    
  <div class="modal fade mobile-profile-modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Profile <i class="fa-regular fa-pen-to-square"></i></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="flex justify-center flex-col items-center w-full p-[10px] gap-[25px]">
              <div class="w-[250px] mobile-img-profile">
                {% if profile.image %}
                  <img src="{{ profile.image.url }}" alt="profile.png" class="rounded-[50%] w-[250px] h-[250px] object-cover object-center mobile-img-image">
                  {% else %}
                  <img src="{% static "images/default.png" %} " alt="profile.png" class="rounded-[50%] w-[250px] h-[250px] object-cover object-center mobile-img-image">
                {% endif %}
              </div>
              <div class="w-[100%]">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ u_form|crispy }}
                    {{ p_form|crispy }}

                    <div class="modal-footer ">
                      <div class="flex justify-center items-center w-full gap-[20px] __delet_btn_wrapper">
                        <button type="button" class="md:w-[100%] w-[100%] px-[50px] py-[12px] rounded-full border-[1px] border-slate-300 bg-[#fcfcfc]" data-bs-dismiss="modal">cancel</button>
                        <button type="submit" class="md:w-[100%] w-[100%] bg-[#3D5361] px-[50px] py-[12px] rounded-full text-[#fefefefe] text-[14px] font-medium">Save</button>
                      </div>
                    </div>
                   
                </form>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>


  {% include "partials/footer.html" %}
{% endblock  %}
